<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acai OMR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <main>
        <form id="inference-form" class="toggleable-section">
            <p>Model weights path (defined in acai_omr/config.py): {{ weights_path }}</p>

            <label for="max-inference-len">Max inference token length</label><br>
            <input type="number" class="interactive-el num-input" id="max-inference-len" name="max_inference_len" value="1536" min="2" max="1536" required><br>
            <button type="submit" class="interactive-el">Start inference</button>
        </form>
        <section id="encoding-progress-view" class="toggleable-section">
            <div class="dot-load-wrapper">
                <p>Encoding image latent</p>
                <div class="dot-load-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </section>
        <section id="token-stream-view" class="token-stream-view toggleable-section">
            <h3>Current sequence</h3>
            <div class="stream-output gradient-border">
                <div id="output-window" class="output-window"></div>
            </div>
        </section>
        <script src="{{ url_for('static', filename='inference.js') }}" type="module"></script>
    </main>
</body>
</html>