<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acai OMR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='konva.min.js' )}}"></script>
    <link href="https://iosevka-webfonts.github.io/iosevka/Iosevka.css" rel="stylesheet" />
</head>
<body>
    <main>
        <section id="start-view" class="toggleable-section">
            <div class="title-wrapper">
                <h1>AcaiOMR</h1>
                <img src="{{ url_for('static', filename='berries.svg') }}" height="70px">
            </div>
            <h4>An optical music recognition model for pianoform music</h4>
            <form id="image-form">
                <div id="image-upload-container">
                    <label for="image-upload">Upload an image to transcribe</label>
                    <input type="file" id="image-upload" name="inference_image" accept="image/*" capture="environment">
                </div>
                <section id="image-preview-window" class="toggleable-section">
                    <p>Selected image:</p>
                    <img id="image-preview" alt="Preview of the image to run inference on" hidden>
                    <button type="submit" class="interactive-el">Next</button>
                </section>
            </form>
        </section>
        <form id="annotate-form" class="toggleable-section">
            <h3>Split Systems</h3>
            <p class="reduced-margin">Draw a box around each musical system in the image</p>
            <h4>Controls</h4>
            <ul class="reduced-margin">
                <li>Click and drag on the image to create a bounding box</li>
                <li>Click a box to resize or delete it</li>
                <li>Click and drag a box to move it</li>
                <li>Boxes can overlap</li>
            </ul>
            <div id="annotate-container"></div>
            <button type="submit" class="interactive-el large-button">Next</button>
        </form>
        <form id="settings-form" class="toggleable-section">
            <h3>Inference Settings</h3>
            <p>Model weights path (defined in acai_omr/config.py): {{ weights_path }}</p>
            <div class="centered-row">
                <label for="max-inference-len">Max inference token length</label><br>
                <input type="number" class="interactive-el num-input" id="max-inference-len" name="max_inference_len" value="1536" min="2" max="1536" required><br>
            </div>
            <button type="submit" class="interactive-el large-button">Start inference</button>
        </form>
        <section id="overall-progress-view" class="toggleable-section small-side-pad">
            <h4 class="reduced-margin">
                Inference progress: <span id="overall-progress-count"></span>
            </h4>
        </section>
        <section id="encoding-progress-view" class="toggleable-section small-side-pad">
            <div class="dot-load-wrapper">
                <p class="reduced-margin">Encoding image latent</p>
                <div class="dot-load-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </section>
        <section id="token-stream-view" class="toggleable-section small-side-pad">
            <div class="dot-load-wrapper">
                <h3>Generating sequence</h3>
                <div class="dot-load-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="stream-output" class="gradient-border">
                <div id="output-window" class="space-text"></div>
            </div>
        </section>
        <section id="result-view" class="toggleable-section small-side-pad">
            <section>
                <h4>Complete lmx sequence:</h4>
                <div class="simple-box">
                    <span id="final-lmx-display" class="space-text"></span>
                </div>
                <h4>Average confidence per token: <span id="average-confidence-display"></span></h4>
            </section>

            <section>
                <h3>Transcribed score:</h3>
                <div id="final-images-display">
                    <button id="download-button" class="interactive-el large-button">Download musicxml file</button>
                    <button id="start-over-button" class="interactive-el">Start over</button>
                </div>
            </section>
        </section>
        <script src="{{ url_for('static', filename='inference.js') }}" type="module"></script>
    </main>
</body>
</html>
