<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acai OMR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://unpkg.com/konva@9/konva.min.js"></script>
</head>
<body>
    <main>
        <section id="start-view" class="toggleable-section">
            <div class="title-wrapper">
                <h1>AcaiOMR</h1>
                <img src="{{ url_for('static', filename='berries.svg') }}" height="70px">
            </div>
            <h4>An optical music recognition model</h4>
            <form id="image-form">
                <label for="image-upload" class="center-text">Upload an image to transcribe</label>
                <input type="file" id="image-upload" name="inference_image" accept="image/*" capture>
                <section id="image-preview-window" class="toggleable-section">
                    <p>Selected image:</p>
                    <img id="image-preview" alt="Preview of the image to run inference on" hidden>
                    <button type="submit" class="interactive-el">Next</button>
                </section>
            </form>
        </section>
        <form id="annotate-form" class="toggleable-section">
            <h3>Split Systems</h3>
            <p class="reduced-margin">Draw a box around each musical system in the image</p>
            <h4>Controls</h4>
            <ul class="reduced-margin">
                <li>Click and drag on the image to create a bounding box</li>
                <li>Click a box to resize or delete it</li>
                <li>Click and drag a box to move it</li>
                <li>Systems can overlap</li>
            </ul>
            <div id="annotate-container"></div>
            <button type="submit" class="interactive-el large-button">Next</button>
        </form>
        <form id="settings-form" class="toggleable-section">
            <h3>Inference Settings</h3>
            <p>Model weights path (defined in acai_omr/config.py): {{ weights_path }}</p>
            <div class="centered-row">
                <label for="max-inference-len">Max inference token length</label><br>
                <input type="number" class="interactive-el num-input" id="max-inference-len" name="max_inference_len" value="1536" min="2" max="1536" required><br>
            </div>
            <button type="submit" class="interactive-el large-button">Start inference</button>
        </form>
        <section id="encoding-progress-view" class="toggleable-section">
            <div class="dot-load-wrapper">
                <p>Encoding image latent</p>
                <div class="dot-load-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </section>
        <section id="token-stream-view" class="token-stream-view toggleable-section">
            <div class="dot-load-wrapper">
                <h3>Generating sequence</h3>
                <div class="dot-load-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="stream-output gradient-border">
                <div id="output-window" class="output-window"></div>
            </div>
        </section>
        <section id="result-view" class="result-view">

        </section>
        <script src="{{ url_for('static', filename='inference.js') }}" type="module"></script>
    </main>
</body>
</html>